@font-face {
    font-family: 'DupletOpen-Regular';
    src: url(../fonts/DupletOpen-Fonts/DupletOpen-Regular-BF660637b30bdd6.otf);
    font-weight: 400;
}

@font-face {
    font-family: 'DupletOpen-Bold';
    src: url(../fonts/DupletOpen-Fonts/DupletOpen-Bold-BF660637b3bc02f.otf);
    font-weight: 700;
}

@font-face {
    font-family: 'DupletOpen-ExtraBold';
    src: url(../fonts/DupletOpen-Fonts/DupletOpen-Extrabold-BF660637b425e1b.otf);
    font-weight: 800;
}

@font-face {
    font-family: 'DupletOpen-SemiBold';
    src: url(../fonts/DupletOpen-Fonts/DupletOpen-Semibold-BF660637b44507f.otf);
    font-weight: 600;
}

@font-face {
    font-family: 'DupletOpen-Light';
    src: url(../fonts/DupletOpen-Fonts/DupletOpen-Light-BF660637b42482b.otf);
    font-weight: 300;
}

body {
    font-family: 'DupletOpen-Regular', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: var(--font-color-1);
    background-color: var(--bg-color-1);
}