@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: 'DupletOpen';
  src: url('/fonts/DupletOpen-Regular.otf') format('opentype');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'DupletOpen';
  src: url('/fonts/DupletOpen-Semibold.otf') format('opentype');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'DupletOpen';
  src: url('/fonts/DupletOpen-Light.otf') format('opentype');
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

/* Shadcn UI Theme Variables (using in shadcnUi's components) */
:root {
  --radius: 0.625rem;
  --sub-background: #f2f3f7;
  --background: #f8f9fc;
  --background-secondary: #fff;
  --foreground: #0c0a09;
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.129 0.042 264.695);
  --popover: #fff;
  --popover-foreground: #0c0a09;
  --primary: #0e1016;
  --primary-foreground: #fff;
  --secondary: #2f3137;
  --secondary-foreground: oklch(0.208 0.042 265.755);
  --muted: #5b5d62;
  --muted-secondary: #f4f5f4;
  --muted-foreground: #79716b;
  --accent: #f5f5f4;
  --accent-foreground: oklch(0.208 0.042 265.755);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-secondary: #F6B4B2;
  --border: #e7e5e4;
  --border-dark: #0e1016;
  --input: oklch(0.929 0.013 255.508);
  --input-hover: #edeff3;
  --ring: oklch(0.704 0.04 256.788);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: #fafafa;
  --sidebar-foreground: #0c0a09;
  --sidebar-primary: #1c1917;
  --sidebar-primary-foreground: #fafafa;
  --sidebar-accent: #f5f5f4;
  --sidebar-accent-foreground: #1c1917;
  --sidebar-border: #e7e5e4;
  --sidebar-ring: #a6a09b;
  --button-hover: #323339;
}

.dark {
  --background: #1a1a1a;
  --sub-background: #262626;
  --background-secondary: #000000;
  --foreground: #fff;
  --card: #1c1917;
  --card-foreground: #fff;
  --popover: #1c1917;
  --popover-foreground: #fff;
  --primary: #e5e5e5;
  --primary-foreground: #0e1016;
  --secondary: #fafafa;
  --secondary-foreground: #fafafa;
  --muted: #a1a1aa;
  --muted-secondary: #1c1917;
  --muted-foreground: #a6a09b;
  --accent: #292524;
  --accent-foreground: oklch(0.984 0.003 200.858);
  --destructive: oklch(0.704 0.191 22.216);
  --destructive-secondary: oklch(0.704 0.191 22.216);
  --border: rgba(255, 255, 255, 0.1);
  --border-dark: rgba(255, 255, 255, 0.1);
  --input: oklch(1 0 0 / 15%);
  --input-hover: #292524;
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: #1c1917;
  --sidebar-foreground: #fafafa;
  --sidebar-primary: #1447e6;
  --sidebar-primary-foreground: #fafafa;
  --sidebar-accent: #292524;
  --sidebar-accent-foreground: #fafafa;
  --sidebar-border: rgba(255, 255, 255, 0.1);
  --sidebar-ring: #79716b;
  --button-hover: #f1f1f1;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: calc(var(--radius) + 2px);
  --radius-xl: calc(var(--radius) + 4px);

  --color-background: var(--background);
  --color-sub-background: var(--sub-background);
  --color-background-secondary: var(--background-secondary);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-secondary: var(--muted-secondary);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-secondary: var(--destructive-secondary);
  --color-input: var(--input);
  --color-input-hover: var(--input-hover);
  --color-border: var(--border);
  --color-dark: var(--border-dark); /* Dark border color used in most components in Back Market */
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-button-hover: var(--button-hover);
  --color-button-hover-foreground: var(--button-hover-foreground);

  --font-heading: 'Cormorand Garamond', serif;
  --font-duplet: 'DupletOpen', sans-serif;
  --font-duplet-bold: 'DupletOpen-Bold', sans-serif;

  --shadow-sm: 0 2px 4px #0000000d;
  --shadow-md: 0 4px 8px #00000014;
  --shadow-lg: 0 8px 16px #0000001f;

  --breakpoint-2xl: 1440px;
  --breakpoint-xl: 1200px;
  --breakpoint-lg: 992px;
  --breakpoint-md: 768px;
  --breakpoint-sm: 576px;
  --breakpoint-xs: 480px;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-primary font-duplet font-normal;
  } 

  html.ja {
    @apply font-semibold;
  }

  section,
  main {
    @apply flex justify-center;
  }
}

@layer utilities {
  .container {
    @apply max-w-full grow px-6 xl:max-w-[1184px] xl:basis-full xl:px-8 mx-auto;
  }

  .content-center {
    @apply flex items-center justify-center;
  }

  .input-icon {
    @apply rounded-full flex items-center justify-center shrink-0 cursor-pointer appearance-none border-0 no-underline motion-safe:transition motion-safe:duration-200 motion-safe:ease-in size-10 bg-transparent hover:bg-input-hover;
  }

  /* Hide scrollbar for all browsers */
  .scrollbar-none {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  
  .scrollbar-none::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }

  @keyframes spin-360 {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .animate-spin {
    animation: spin-360 2.8s linear infinite;
  }

  /* Mobile menu slide in animation */
  @keyframes slide-in-left {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }

  .animate-slide-in-left {
    animation: slide-in-left 0.2s ease-out;
  }
}
